{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Dettaglio Richiesta</h2>

    <div class="card shadow-sm">
        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center mb-3">
                <strong>ID: {{ request.emergency_id }} | PRIORIT&#193; {{ request.severity }}</strong>
                <span class="badge bg-secondary">{{ request.resolved }}</span>
            </div>

            <h5>Utente</h5>
            <p>{{ request.user.name }} {{ request.user.surname }}</p>

            <h5>Timestamp</h5>
            <p>{{ request.timestamp }}</p>

            <h5>Posizione</h5>
            <p>{{ request.address }}</p>

            <h5>Descrizione</h5>
            <p>{{ request.description }}</p>

            <h5>Data nascita</h5>
            <p>{{ request.user.birthdate }}</p>

            <h5>Gruppo Sanguigno</h5>
            <p>{{ request.user.bloodtype }}</p>

            <h5>Problematiche</h5>
            {% if request.user.diseases %}
            <ul>
                {% for problema in request.user.diseases %}
                <li>{{ problema }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nessuna problematica registrata.</p>
            {% endif %}


            <a href="/richieste.html" class="btn btn-secondary mt-3">Torna indietro</a>

        </div>
    </div>

</div>
{% endblock %}