<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
<footer class="footer">
    <div class="footer-container">
        
        <div class="footer-col">
            <h3>RescueCom</h3>
            <p>La piattaforma che ti salva la vita</p>
        </div>

        <div class="footer-col">
            <h3>Link Utili</h3>
            <ul>
                <li><a href="#">GDPR</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 RescueCom. Tutti i diritti riservati.</p>
    </div>
</footer>